<h1>Edit </h1>

<%= form_tag users_register_path, method: :put do %>
First name: <input type="text" name="first_name" ><br>
Last name: <input type="text" name="last_name" ><br>
password:  <input type="password" name="password"  ><br>
Address: <input type="text" name="address"  > <br>
Postal Code: <input type="number" name="postal_code" > <br>
City: <%= select("city", "ids",  City.all.collect {|r| [ r.city_name]}, {prompt: 'Choose your City'})
%> <br>
GSM: <input type="number" name="gsm"  > <br>
Email : <input type="email" name="email"  > <br>
Role: <%= select("role", "ids",  Role.all.collect {|r| [ r.role_name]}, {prompt: 'Select your role'})
%> <br>

Birthday:  <input type="date" name="birthday" > <br>

<h1> Pharmacy info : </h1> <br>
Pharmacy Name:  <input type="text" name="name"  ><br>
tel: <input type="number" name="tel"  ><br>
Address: <input type="text" name="address_p"  > <br>
Postal Code: <input type="number" name="postal_code_p" > <br>
City: <%= select("city_p", "ids",  City.all.collect {|r| [ r.city_name]}, {prompt: 'Choose your City'})
%> <br><br>

<input type="submit" value="create" />
<% end %>
