<% if @current_user %>
  <h1>Bienvenue <%= @current_user.name %> !</h1>
  <%= form_tag users_login_path, method: :delete  do %>
  <input type="submit" value="LogOut" />
  <% end %>


<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
  <a href="/users/login">S'identifier</a>
<% end %>
