<h1>Register</h1>

<%= form_tag users_register_path, method: :post do %>
First name: <input type="text" name="first_name" required><br>
Last name: <input type="text" name="last_name" required><br>
Pharmacy Name:  <input type="text" name="name"  required><br>
password:  <input type="password" name="password"  required><br>
Address: <input type="text" name="address"  required> <br>
Postal Code: <input type="number" name="postal_code" required> <br>
City: <input type="text" name="city"  required> <br>
GSM: <input type="number" name="gsm"  required> <br>
tel: <input type="number" name="tel"  required><br>
Email : <input type="email" name="email"  required> <br>
Role: <select name="role" required>
<% @role.each do |r| %>
   <option value="role"><%="#{r.role_name}"%></option> 
<% end %>
  <option value="none" selected>--Please choose your role--</option>
  </select> <br>
Birthday:  <input type="date" name="birthday" required> <br>
<input type="submit" value="create" />
<% end %>
