<h1>Register</h1>

<%= form_tag users_register_path, method: :post do %>

  <input type="text" name="name"    />
  <input type="password" name="password" />
  <input type="submit" value="Create" />


<% end %>
