<h1>Register</h1>

<%= form_tag users_register_path, method: :post do %>
First name: <input type="text" name="first_name" required><br>
Last name: <input type="text" name="last_name" required><br>
password:  <input type="password" name="password"  required><br>
Address: <input type="text" name="address"  required> <br>
Postal Code: <input type="number" name="postal_code" required> <br>
City: <%= select("city", "ids",  City.all.collect {|r| [ r.city_name]}, {prompt: 'Choose your City'})
%> <br>
GSM: <input type="number" name="gsm"  required> <br>
Email : <input type="email" name="email"  required> <br>
Role: <%= select("role", "ids",  Role.all.collect {|r| [ r.role_name]}, {prompt: 'Select your role'})
%> <br>

Birthday:  <input type="date" name="birthday" required> <br>

<h1> Pharmacy info : </h1> <br>
Pharmacy Name:  <input type="text" name="name"  required><br>
tel: <input type="number" name="tel"  required><br>
Address: <input type="text" name="address_p"  required> <br>
Postal Code: <input type="number" name="postal_code_p" required> <br>
City: <%= select("city_p", "ids",  City.all.collect {|r| [ r.city_name]}, {prompt: 'Choose your City'})
%> <br>

<input type="submit" value="create" />
<% end %>
